<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V4</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for( 'static', filename = 'images/icons/favicon.ico') }}" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename = 'vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename = 'fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename = 'vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename = 'vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename = 'vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename = 'vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename = 'vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename = 'css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename = 'css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="POST" action="/loading">
				<span class="contact100-form-title">
					Great Energy predictor
				</span>

				<div class="wrap-input100 validate-input" data-validate="Building ID is required">
					<span class="label-input100">Building ID</span>
					<input list="building_id_list" class="input100" type="number" name="building_id" placeholder="Enter the id of the building">
					<span class="focus-input100"></span>
					<datalist id="building_id_list">
						{% for i in range(1449)%}
							<option value="{{i}}">{{i}}</option>
						{% endfor %}
					</datalist>
				</div>

				<div class="wrap-input100 input100-select">
					<span class="label-input100">Meter</span>
					<div>
						<select class="selection-2" name="meter">
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="The time is required">
					<span class="label-input100">Enter the time</span>
					<input class="input100" type="text" name="timestamp" id="timestamp" value="10/24/1984" />
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Site Id is required">
					<span class="label-input100">Site ID</span>
					<input list="site_id_list" class="input100" type="number" name="site_id" placeholder="Enter the id of the site">
					<span class="focus-input100"></span>
					<datalist id="site_id_list">
						{% for i in range(16)%}
							<option value="{{i}}">{{i}}</option>
						{% endfor %}
					</datalist>
				</div>

				<div class="wrap-input100 input100-select">
					<span class="label-input100">Primary Use</span>
					<div>
						<select class="selection-2" name="primary_use">
							<option>Select primary usage</option>
							{% for i in ['Education', 'Lodging/residential', 'Office',
							'Entertainment/public assembly', 'Other', 'Retail', 'Parking',
							'Public services', 'Warehouse/storage', 'Food sales and service',
							'Religious worship', 'Healthcare', 'Utility', 'Technology/science',
							'Manufacturing/industrial', 'Services'] %}
								<option>{{i}}</option>
							{% endfor %}
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Area is required">
					<span class="label-input100">Area (square feet)</span>
					<input class="input100" type="text" name="square_feet" placeholder="Enter the area in square feet">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Year built is required">
					<span class="label-input100">Year the building was built</span>
					<input list="year_list" class="input100" type="number" name="year_built" placeholder="Enter the year the building was built">
					<span class="focus-input100"></span>
					<datalist id="year_list">
						{% for i in range(1900,2018)%}
							<option value="{{i}}">{{i}}</option>
						{% endfor %}
					</datalist>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Floor count is required">
					<span class="label-input100">Floor count</span>
					<input class="input100" type="number" name="floor_count" placeholder="Enter the number of floors">
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input" data-validate="Air temperature is required">
					<span class="label-input100">Air Temperature</span>
					<input class="input100" type="text" name="air_temperature" placeholder="Enter the temperature of air">
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 input100-select">
					<span class="label-input100">Cloud coverage</span>
					<div>
						<select class="selection-2" name="cloud_coverage">
							<option></option>
							{% for i in range(0,10)%}
								<option>{{i}}</option>
							{% endfor %}
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>
								
				<div class="wrap-input100 validate-input" data-validate="Dew temperature is required">
					<span class="label-input100">Dew Temperature</span>
					<input class="input100" type="text" name="dew_temperature" placeholder="Enter the temperature of dew">
					<span class="focus-input100"></span>
				</div>
								
				<div class="wrap-input100 validate-input" data-validate="Precipitation depth is required">
					<span class="label-input100">Precipitation per hour</span>
					<input class="input100" type="text" name="precip_depth_1_hr" placeholder="Enter precipitation depth per hour">
					<span class="focus-input100"></span>
				</div>
								
				<div class="wrap-input100 validate-input" data-validate="Sea level pressure is required">
					<span class="label-input100">Sea level pressure</span>
					<input class="input100" type="text" name="sea_level_pressure" placeholder="Enter the sea level pressure">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Wind direction is required">
					<span class="label-input100">Wind direction (degrees)</span>
					<input list="wind_direction_list" class="input100" type="text" name="wind_direction" placeholder="Enter the wind direction in degrees">
					<span class="focus-input100"></span>
					<datalist id="wind_direction_list">
						{% for i in range(0,361)%}
							<option value="{{i}}">{{i}}</option>
						{% endfor %}
					</datalist>
				</div>
								
				<div class="wrap-input100 validate-input" data-validate="Wind speed is required">
					<span class="label-input100">Wind speed</span>
					<input class="input100" type="text" name="wind_speed" placeholder="Enter the temperature of air">
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn" onclick="$('#loadingAnimation').show();">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</div>
				<br>
				<span id="loadingAnimation" class="contact100-form-title" style="display: none;">
					Processing...
				</span>

			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>



<!--===============================================================================================-->
	<script src="{{ url_for( 'static', filename = 'vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for( 'static', filename = 'vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for( 'static', filename = 'vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for( 'static', filename = 'vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for( 'static', filename = 'vendor/select2/select2.min.js') }}"></script>

	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="{{ url_for( 'static', filename = 'vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for( 'static', filename = 'vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for( 'static', filename = 'vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');


</script>

<script>
	$(function() {
		$('#timestamp').daterangepicker({
			"singleDatePicker": true,
			"timePicker": true,
			"startDate": "01/01/2016",
			"endDate": "01/01/2016",
			locale: {
			format: 'YYYY-MM-DD HH:mm:ss'
			}
		}, function(start, end, label) {
		console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
		});
	});
</script>

</body>
</html>
